/**
 * Sections
 * ----------------------------------------------------------------------------
 */
.block:not(.hero-block) {
  background: _palette(bg);

  &:last-child {
    padding-bottom: 1.875em;
  }

  &:first-child {
    padding-top: 3.75em;
  }
}

.block:not(.hero-block).alternate {
  background: #252A40;
  color: _palette(bg);
  border-top: 1px solid rgba(235, 237, 239, 0.2);

   &:last-child {
     padding-bottom: 1.875em;
   }

   &:first-child {
     padding-top: 3.75em;
   }

   &.inner {
     padding-top: 1.875em;
   }
}


.block-preview {
/*  margin-bottom: 1.875em; */
}

.block-title {
  font-size: 1.5rem;
  margin: 0 0 1.875rem;
}

.block-text {
  font-size: 1.125rem;
  line-height: 1.66667;
}

.block-cta {
  .button {
    margin: 0 0;
    white-space: nowrap;
  }
}

/* Hero block */
.hero-block {
  color: _palette(primary);
  padding-bottom: 5em;
  padding-top: 3.75em;
  /* position: relative; */
  text-align: left;

  @media only screen and (min-width: 801px) {
    .inner .block-inside {
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0 -1.5vw;
    }
    .block-preview {
      box-sizing: border-box;
      -webkit-flex: 4;
      -ms-flex: 4;
      flex: 4;
      padding-left: 1.5vw;
      padding-right: 1.5vw;
      text-align: left;

      .thumbnail {
        border-radius: 3px;
      }
    }

    .block-content {
      box-sizing: border-box;
      -webkit-flex: 5;
      -ms-flex: 5;
      flex: 5;
      padding-left: 1.5vw;
      padding-right: 1.5vw;
      text-align: left;

      &:only-child {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        padding: 0;
        text-align: center;
      }

      &:not(:only-child) {
        .button {
          margin-left: 0;
        }
      }
    }
  }

  &:last-child {
    padding-bottom: 3.75em;
  }

  .block-content {
  /* position: relative; */
  }

  .block-title {
    color: inherit;
    font-size: 1.625rem;
    line-height: 2.625rem;
    margin: 0;

    @media only screen and (max-width: 600px) {
      font-size: 1.25rem;
      line-height: 2.25rem;
    }
  }

  .block-text {
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 0.9375rem 0 0;
  }

  .block-cta {
    margin-bottom: 3em;
  }

  .block-preview {
    margin-top: 3em;
  }


  & + .block {
    margin-top: -5em;
    padding-top: 3.75em;
    /* position: relative; */
  }

}


/* Content block */
.text-block:not(.testimonial) {
  margin-top: 6em;
}


.text-block {
  text-align: center;

  @media only screen and (min-width: 801px) {
    .block-inside {
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0 -1.5vw;
    }

    .block-preview {
      box-sizing: border-box;
      -webkit-flex: 4;
      -ms-flex: 4;
      flex: 4;
      padding-left: 1.5vw;
      padding-right: 1.5vw;
      text-align: left;

      .thumbnail {
        border-radius: 3px;
      }
    }

    .block-content {
      box-sizing: border-box;
      -webkit-flex: 5;
      -ms-flex: 5;
      flex: 5;
      padding-left: 1.5vw;
      padding-right: 1.5vw;
      text-align: left;

      &:only-child {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        padding: 0;
        text-align: center;
      }

      &:not(:only-child) {
        .button {
          margin-left: 0;
        }
      }
    }
  }

  @media only screen and (min-width: 1201px) {
    .block-inside {
      margin-left: -1.125em;
      margin-right: -1.125em;
    }

    .block-preview,
    .block-content {
      padding-left: 1.125em;
      padding-right: 1.125em;
    }
  }

  &.alternate {
      color: _palette(bg);
  }
}

/* Testimonial Content block */

.testimonial {
    padding-top: 6em;
    padding-bottom: 6em;

  .block-text {
    font-size: 1.25rem;
    font-weight: 500;
    font-style: italic;
    text-align:left;

    p {
      margin: 0 0 1em;
    }
  }

  .testimonial-source {
    font-size: 1rem;
    font-weight:700;
    text-align:left;

    p {
      margin: 0 0;
    }
  }

  .testimonial-capacity {
     font-size: 1rem;
     font-weight:400;
     color: _palette(note);
     text-align:left;
  }

  .block-preview img.thumbnail {
    border-radius: 11px;
  }

   &:nth-child(odd) .block-inside {
     flex-direction: row-reverse;

     .block-preview, .block-content, .block-text,
     .testimonial-source, .testimonial-capacity {
       @media only screen and (min-width: 801px) {
         text-align:right;
       }
     }
  }

  @media only screen and (min-width: 1201px) {
     &:nth-child(odd) .block-content,
     &:nth-child(odd) .block-preview {
       padding-left: 9em;
       padding-right: 1em;
     }

     &:nth-child(even) .block-content,
     &:nth-child(even) .block-preview {
        padding-right: 9em;
        padding-left: 1em;
     }
   }
}

/* CTA block */
.cta-block {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 6rem;

  @media only screen and (min-width: 641px) {
    padding-bottom: 1.875em;
  }

  .block-outside {
    border-radius: 8px;
    padding: 1em 5% 0em;
  }

  .block-inside.with-icon {
    &.with-icon {
      background-repeat: no-repeat;
      padding-bottom: 4rem;

      @media only screen and (min-width: 801px) {
        background-position: center left;
        padding-left: 150px;
        padding-top: 3rem;
     }
     @media only screen and (max-width: 800px) {
        background-position: top center;
        padding-top: 150px;
          .block-text {
             max-width: 60%;
             margin: 0 auto 1.875rem;
          }
       }
     }
   }

  .block-title {
    color: inherit;
    font-size: 1.5rem;
    line-height:  1.9375rem;
    margin: 0 0 1rem;

    &:last-child {
      margin-bottom: 1.875rem;
    }
  }

  .block-text {
    color: inherit;
    font-size: 1rem;
  }

  .block-preview {
    min-width: 50%;
  }

  @media only screen and (min-width: 801px) {
    .block-inside {
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin: 0 -1.125em;
    }

    .block-content {
      box-sizing: border-box;
      -webkit-flex: 5;
      -ms-flex: 5;
      flex: 5;
      padding-left: 1.125em;
      padding-right: 1.125em;
      text-align: left;
    }

    .block-cta {
      box-sizing: border-box;
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2;
      padding-right: 1.125em;
      padding-bottom: 0.5rem;
    }
  }
}

.features-block:not(.bg-gradient) + .cta-block {
     margin-top: 0;
}

/* Features block */
.features-block {

  padding-bottom: 4em;

  &.has-header {
    padding-top: 5em;
  }

  &.fancy-box {
     padding-top: 6em;
  }

  &.invisible-box .block-items {
    flex-direction: column;
  }

  .block-header {
    margin-bottom: 1.75em;
    text-align: center;
  }

  .block-title {
    font-size: 1.5rem;
    margin: 0 0 0.5rem;
  }
}


.docs-block,
.showcase-block {
  margin: -5em 0 3.75em;
  position: relative;

  &:last-child {
    padding-bottom: 1.875em;
  }
}

.block-item-inside {
  background: _palette(accent-alt-light);
  border-top: 7px solid _palette(accent-alt);
  border-radius: 8px;
  margin-bottom: 2vw;
  padding-bottom: 0.5em;
  color:_palette(primary);
}

.block-item:nth-child(2) .block-item-inside {
        background: _palette(accent-light);
        border-top: 7px solid _palette(accent);
}

.fancy-box .block-item:nth-child(2) .block-item-inside {
        color: _palette(bg);
        background: _palette(accent);
     &.with-icon {
        padding-top: 3.75rem;
        background-position: right top;
        background-repeat: no-repeat;
     }
}



.alternate .block-item:nth-child(3) .block-item-inside {
         background: _palette(accent-alt);
    &.with-icon {
       padding-top: 3.75rem;
       background-position: right top;
       background-repeat: no-repeat;
     }
}

.alternate .block-item:nth-child(4) .block-item-inside {
          color: _palette(bg);
          background: _palette(accent);
    &.with-icon {
       padding-top: 3.75rem;
       background-position: right top;
       background-repeat: no-repeat;
     }
}

.alternate .block-item .block-item-inside {
      border-top: none;
      border-radius: 15px;
}


.outlined {

    padding-bottom: 3em;

    .block-title {
       max-width: 20em;
       margin: 0 auto 2em;
    }

    .block-item {
      .block-item-title {
        color:_palette(accent);
        max-width: 12em;
      }

      .block-item-inside {
        box-sizing: border-box;
        background: linear-gradient(_palette(bg), _palette(bg)), 
                    linear-gradient(to right bottom, _palette(accent), _palette(accent-alt));
        border: 5px solid transparent;
        background-repeat: no-repeat;
        background-origin: padding-box, border-box;
        border-width: 4px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 3vw;
        padding-bottom: 0.5em;

        &:before {
          content: "";
          position: absolute;
          top: -2px;
          bottom: -2px;
          left: -2px;
          right: -2px;
          border: 2px solid _palette(bg);
          border-radius: 8px;
      }
    }
  }
}


.fancy-box .block-item .block-item-inside {
     border-top: none;
     border-radius: 15px;
}


.invisible-box {
  .block-item {

     .block-item-title {
       color:_palette(accent);
       margin: 0.2rem 0 0.5rem;
       padding-left:1rem;
       padding-right:1rem;
     }

    .block-item-text {
       padding-left:1rem;
       padding-right:1rem;
    }

    .block-item-inside {
      box-sizing: border-box;
      background-color: transparent !important;
      border: 0px solid transparent !important;
      position: relative;
      margin-bottom: 0.5em;
      padding-bottom: 0;

      &.with-icon {
        background-position: left top;
        background-repeat: no-repeat;

        @media only screen and (min-width: 641px) {
          padding-left: 70px;
          padding-top: 0;
        }
      }
    }
  }
}


.block-item-preview {
  border: 0;
  border-radius: 3px 3px 0 0;
  display: block;

  .thumbnail {
    border-radius: 3px 3px 0 0;
    width: 100%;
  }
}

.block-item-title {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 0 0 0.9375rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;

  a {
    border: 0;
    color: inherit;

    &:hover,
    &:focus {
      color: _palette(accent);
    }
  }
}

.alternate .block-item-title,
.fancy-box .block-item-title {
   font-size: 1.5rem;
   line-height: 1.9rem;
}

.block-item-text {
  line-height: 1.5625rem;
  margin: 0 0 1.25rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.alternate .block-item-text,
.fancy-box .with-icon .block-item-text {
   font-size: 1.25rem;
   line-height: 1.825rem;
   padding-right: 8.25rem;
}

.fancy-box .block-item-text {
    font-size: 1.25rem;
    line-height: 1.825rem;
}


.block-item-cta {
  padding-left: 2.25rem;
  padding-right: 2.25rem;

  a {
    border: 0;
    color: _palette(accent);
  }
}

.block-item-title,
.block-item-text,
.block-item-cta {
  &:last-child {
    margin-bottom: 0;
  }
}

.features-block,
.docs-block {
  .block-item-inside {
    padding-top: 1.875em;

    &.with-icon {
      padding-top: 3.75rem;
      background-position: right top;
      background-repeat: no-repeat;
    }
  }
}

.showcase-block {
  .block-item-title {
    font-size: 1.25rem;
    margin: 0;
    padding-top: 1.875em;
  }

  .block-item-title + .block-item-text {
    margin-top: 0.5rem;
  }

  .block-item-preview + .block-item-title,
  .block-item-preview + .block-item-text {
    padding-top: 1.25em;
  }
}

@media only screen and (min-width: 641px) {
  .block-items {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -1.5vw;
    margin-right: -1.5vw;
  }

  .block-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .block-item-inside {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  .showcase-block,
  .docs-block {
    .block-item {
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }
  }

  .features-block:not(.outlined) {
    .block-item {
      max-width: 680px;
       margin-left: auto;
       margin-right: auto;
    }
  }

  .features-block.outlined {
      .block-items {
        justify-content: center;
      }
      .block-item {
       max-width: 420px;
     }
   }

  .features-block:not(.invisible-box) {
    .block-item {
      -webkit-flex: 1 1 274px;
      -ms-flex: 1 1 274px;
      flex: 1 1 274px;

      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ .block-item,
      &:first-child:nth-last-child(4),
      &:first-child:nth-last-child(4) ~ .block-item {
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
      }
    }
  }
}

@media only screen and (min-width: 861px) {
  .showcase-block,
  .docs-block {
    .block-item {
      -webkit-flex: 0 0 33.333%;
      -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
    }
  }
}

@media only screen and (min-width: 1101px) {
  .features-block:not(.invisible-box) {
    .block-item {
      -webkit-flex: 1 1 340px;
      -ms-flex: 1 1 340px;
      flex: 1 1 340px;
    }
  }
}

@media only screen and (min-width: 1201px) {
  .block-items {
    margin-left: -1.125em;
    margin-right: -1.125em;
  }

  .block-item-inside {
    margin-bottom: 2.25em;
    margin-left: 1.125em;
    margin-right: 1.125em;
  }
}
